body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightgray;
}
.box 
{
    width: 70%;
    height: auto;
    margin: auto;
    background-color: lightcoral;
    padding: 25px;
    margin-top: 5%;
}
h1 
{
    color: blue; font-size: 48px; text-align: center;
}

p{
    color: white; width:70%; margin: auto; height: auto;
}